.settings {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 30px;
}

.settingsContainer {
  width: 100%;
}

.buttonGroupTitle {
  display: block;
  width: 60px;
  color: #f3b552;
  font-weight: 700;
}

.settingsContent {
  max-width: 600px;
  width: 100%;
  display: flex;
  gap: 7px;
}

.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.inputText {
  display: block;
  width: 150px;
  height: 30px;
  padding-left: 10px;
  border: 0;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  outline: none;
}

.inputColor {
  display: block;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  cursor: pointer;
}

.btnStartRace {
  background-color: #0beb28;
  cursor: pointer;
}

.btnStopRace {
  background-color: #0000ff;
  color: white;
  cursor: pointer;
}

.btnGenerate {
  width: 116px;
  cursor: pointer;
}
