.car {
  height: 130px;
}

.car-image {
  position: absolute;
  right: calc(100% - 205px);
  bottom: 0;
}

.car-svg {
  width: 120px;
  height: 43px;
  margin-left: 10px;
}

.startMove {
  animation: startMove linear forwards;
  -webkit-animation: startMove linear forwards;
}

.stopMove {
  animation-play-state: paused;
}

@keyframes startMove{
  0% {
      right: calc(100% - 205px);
  }

  100% {
      right: calc(0px + 10px);
  }
}