.header {
  position: relative;
  padding: 10px 0;
}

.headling {
  font-family: "MachineGunk", sans-serif;
  font-size: 40px;
  text-align: center;
  color: #f3b552;
}

.headerGif {
  width: 200px;
  height: 70px;
  position: absolute;
  top: 20px;
  right: 10px;
}

@media (max-width: 630px) {
  .headerGif {
    display: none;
  }
}
