.pageNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pageNavText {
  display: block;
}

.pageNavPagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.pageList {
  display: flex;
}

.pageLink {
  display: block;
  width: 9px;
  height: 9px;
  margin: 2px 3px;
  border: 2px solid transparent;
  border-radius: 30px;
  background-color: #fff;
  cursor: pointer;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.pageLink:hover {
  background-color: #00cccc;
}

.pageLinkActive {
  border: 1px solid #00cccc;
}

.btnNext,
.btnPrev {
  width: 50px;
}
