*,
* ::before,
* ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "TrulyMadlyDpad", sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: gray;
  padding: 0 20px;
}

ul,
ol {
  list-style-type: none;
}

input,
button,
textarea,
select,
a {
  font: inherit;
  color: black;
  text-decoration: none;
}

@media (max-width: 746px) {
  body {
    padding: 0 10px;
  }
}
